.embla {
  width: 100%;
  margin: auto;
  --slide-spacing: 0;
  --slide-size: 70%;
}
.embla__viewport {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: 100%;
}
