.embla {
  width: 100%;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: block;
  /* remove flex */
  white-space: nowrap;
  /* keep slides in one line */
  height: 100%;
}

.embla__slide {
  display: inline-block;
  /* slides sit in a row */
  width: 100%;
  /* only one slide visible */
  text-align: center;
  /* center the image */
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  flex: 0 0 100%;
}

.embla__slide img {
  max-width: 75%;
  /* image smaller than slide width, optional */
  max-height: 100%;
  display: inline-block;
}