@reference "tailwindcss";
@layer components {
  .press {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 6rem;
    --slide-size-lg: calc(100% / 3);
  }

  .viewport {
    @apply overflow-hidden;
  }

  .container {
    @apply flex touch-pan-y;
    backface-visibility: hidden;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  @media (min-width: 750px) {
    .container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }

  @media (min-width: 1200px) {
    .container {
      margin-left: calc(var(--slide-spacing-lg) * -1);
    }
  }

  .slide {
    @apply flex flex-col cursor-pointer;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    min-width: 0;
  }

  @media (min-width: 750px) {
    .slide {
      flex: 0 0 var(--slide-size-sm);
      padding-left: var(--slide-spacing-sm);
    }
  }

  @media (min-width: 1200px) {
    .slide {
      flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }

  .controls {
    @apply grid grid-cols-[auto_1fr] justify-between gap-4 mt-6;
  }

  .buttons {
    @apply grid grid-cols-2 gap-2 items-center;
  }

  .arrowButton {
    @apply w-10 h-10 flex items-center justify-center rounded-full border border-white/40 text-white transition;
  }

  .arrowButton:disabled {
    @apply opacity-40;
  }

  .dots {
    @apply flex flex-wrap justify-end items-center gap-1;
  }

  .dot {
    @apply w-6 h-6 flex items-center justify-center rounded-full cursor-pointer;
  }

  .dot::after {
    content: "";
    @apply w-3.5 h-3.5 rounded-full border border-white/40;
  }

  .dotSelected::after {
    @apply border-white;
  }
}
