.embla {
  max-width: calc(413 * 3);
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0;
  --slide-size: 55%;
  padding: 20px 0;
  overflow-x: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 390px;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

@media screen and (min-width:640px) {
  .embla__container {

    height: 700px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
.embla__container {

    height: 700px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
.embla__container {

    height: 700px;
  }
}
@media (min-width: 1280px) {
.embla__container {
   
    height: 700px;
  }

}