.embla {
  /* max-width: 48rem; */
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 10px;
  --slide-size: 55%;
  overflow: visible;
}
@media screen and (min-width: 475px) {
  .embla {
    --slide-spacing: 20px;
  }
}
@media screen and (min-width: 768px) {
  .embla {
    --slide-spacing: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .embla {
    --slide-spacing: 80px;
  }
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
