@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    var(--font-poppins), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* --color-off-black: var(--off-black);
  --color-extra-dark: var(--extra-dark);
  --color-dark: var(--dark);
  --color-medium-dark: var(--medium-dark);
  --color-normal-dark: var(--normal-dark);
  --color-light-dark: var(--light-dark);
  --color-normal-black: var(--normal-black); */
  --color-black: var(--black);
  --color-blue-section: var(--blue-section);
  --color-project-white: var(--project-white);
  --color-project-pink: var(--project-pink);
  --radius-standard: 6px;
  --shadow-card: 1px 2px 11px 0px #00000040;
  --breakpoint-xs: 375px;
  --breakpoint-xxs: 320px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #254165;
  --primary-foreground: #fff;
  --secondary: #375ca9;
  --secondary-foreground: #fff;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --normal-black: #000;
  --black: #181818;
  --project-white: #f0f0f0;
  --project-pink: #e22371;
  --blue-section: #375ca908 /* --off-black: #3b3b3f; */ /* --dark: #3f3f3f; */
    /* --extra-dark: #2b2b2b; */ /* --medium-dark: #575757; */ /* --normal-dark: #6f6f6f; */
    /* --light-dark: #8c8c8c; */;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #0d60ab;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  .container-inner {
    @apply mx-auto w-full max-w-[1440px] px-6 md:px-8 lg:px-12;
  }
  .white-flare {
    position: relative;
    /* top: 500px; */
    /* width: 230px;
    height: 4px;
    background: radial-gradient(white 0%, white 10%, #00000000 70%); */
    height: 20px;
    width: 200px;
    background: radial-gradient(white 0%, white 10%, #ffffff55 35%, #00000000 70%);
    /* transform: rotate(2deg); */
    /* filter: blur(1px); */
  }

  .white-flare::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 20px;
    width: 200px; */
    transform: translate(-50%, -50%) rotate(-3deg);
    /* background: radial-gradient(white 0%, white 10%, #ffffff55 35%, #00000000 70%); */
    width: 210px;
    height: 4px;
    background: radial-gradient(white 0%, white 10%, #00000000 70%);
    pointer-events: none;
  }
  /* @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  } */
}

/* Custom global class to hide date icon and text */
.hide-calendar::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hide-calendar::-webkit-datetime-edit {
  color: transparent; /* hides default date text */
}

.hide-calendar:focus::-webkit-datetime-edit {
  color: white; /* optional: show text when focused */
}